p {width: 700;
font-size: 19;
font-family: 'Times New Roman', Times, serif;}
body {padding: 100;}
nav {background-color: black;}
a {font-size: 22;}
h2 {font-size: 22;}
body {background-color: antiquewhite;}
header {font-size: 50;}
footer {background-color: darkgray; padding: 32; margin-top: auto;}